black
numpy
pre-commit>=2.2.0
pytest>=5.4.1
scikit-learn>=0.23
scipy>=1.0
tqdm
torch
kditransform
xgboost
pandas

# Due to a numpy version conflict, if you want to use TabPFN, afterwards pip install:
# tabpfn==0.1.11
